aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1734596979816/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1737517575301/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560551097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1737645277522/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1734532815042/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1734075161666/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter @ file:///Users/runner/miniforge3/conda-bld/jiter_1734065532720/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302946874/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1738261747653/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1738211194804/work
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1736285587843/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1737099297406/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1730194251416/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1729065505264/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1738439166728/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225640867/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=b62b8b824024855c3eb209bd45bfcf60bc9a11b94cbf9d5b7b25dc503021e672
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1738369985585/work
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1737229080238/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1733406188332/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878432242/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929745664/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1737635547864/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1731365515766/work/bazel-bin/python/dist/protobuf-5.28.3-cp311-abi3-macosx_11_0_arm64.whl#sha256=57b3ebb91af7c5a6f2b88849429b69429727a78533c2e0542f38460ab24aeb74
pyarrow==19.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1737761369378/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1734571525262/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454702303/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1733366661843/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_selenium_1737667202/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1736499842937/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1734513191614/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615936501/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1735179157703/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1734276601048/work/dist
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
tzlocal @ file:///Users/runner/miniforge3/conda-bld/tzlocal_1724952093576/work
undetected-chromedriver @ file:///home/conda/feedstock_root/build_artifacts/undetected-chromedriver_1736085793569/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1730492925180/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1737358244828/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1733060193308/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1737575825523/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
